{% extends 'base.html.twig' %}

{% block content %}
    <h1>Détails de {{ ad.title }} </h1>

    <div id="ad_detail">
        <b>Type : </b>{{ ad.category }}<br>
        <b>Description : </b>{{ ad.description}}<br>
        <b>Ville : </b>{{ ad.city }}<br>
        <b>Code postal : </b>{{ ad.zip }}<br>
        <b>Annonce publiée le : </b>{{ ad.dateCreated|date('d-m-Y') }} à {{ ad.dateCreated|date('H:i') }}<br>
        <b>Prix : </b>{{ ad.price }}€<br>
        <b>Vendeur : </b>{{ ad.user }}<br>

        {% if is_granted('ROLE_USER')%}
            <!-- Bouton "Ajouter à mes favoris-->
            <form id="addfavoris" method="post" action="{{ path('addFav') }}">
                <input type="hidden" name="ad_id" value="{{ ad.id }}">
                <button>Ajouter à mes favoris</button>
            </form>
        {% endif %}
    </div>


{% endblock %}

{% block title %}{{ ad.title }}{% endblock %}
