{% extends 'base.html.twig' %}

{% block content %}
    <h1>Listes des annonces</h1>

    <div id="order_by">
        {{ form_start(categoryForm, {
            'attr':{
                'novalidate': 'novalidate'
            }
        }) }}
        {{ form_widget(categoryForm) }}
            <button class="btn btn-primary">Trier</button>
        {{ form_end(categoryForm) }}
    </div>


    {% for ad in ads %}
        <div id="une_ad">
            <p>
                <b>Titre : <a href="{{ path('details', {'id': ad.id}) }}">{{ ad.title }}</a> </b><br>
                <b>Ville : </b>{{ ad.city }}<br>
                <b>Prix : </b>{{ ad.price }}€<br>
            </p>
        </div>


    {% endfor %}

{% endblock %}

{% block title %}Le Meilleur Coin | Liste annonces{% endblock %}
