{% extends 'base.html.twig' %}

{% block content %}
    <h1>Mes favoris</h1>

    {% for ad in myfavads %}
        <div id="une_ad">
            <p>
                <b>Titre : <a href="{{ path('details', {'id': ad.id}) }}">{{ ad.title }}</a> </b><br>
                <b>Ville : </b>{{ ad.city }}<br>
                <b>Prix : </b>{{ ad.price }}€<br>

                <!-- Bouton "Retirer de mes favoris-->
                <form id="removfavoris" method="post" action="{{ path('remFav') }}">
                    <input type="hidden" name="ad_id" value="{{ ad.id }}">
                <button>Retirer de mes favoris</button>
            </form>
            </p>
        </div>


    {% endfor %}

{% endblock %}

{% block title %}Le Meilleur Coin | Mes favoris{% endblock %}
